<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>私の日記</title>
	<link rel="stylesheet" href="style.css" type="text/css" charset="utf-8" />	
</head>
<div>
   	<ul class="topnav" id="myTopnav">
  	<li><a href="/">ホーム</a></li>
	</ul>
  </div>
 <div>
 	<form>
 		
 	</form>
 </div>
<body>
<div id="wrapper">
	<div id="body">
		<div id="body-top">
			<div id="body-bot">
				<div id="header">
					<img src="matsu.jpg" width="332" height="453" alt="Pic 1" id="person" />
					<h1>今日の書きたいものを入力してください</h1>	
					<form action="/write" method="POST">
					<input type="date" name="diary[date]">
					<input type="text" name="diary[entry]">
					<input type="submit" value="Submit">	
					</form>			
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>