<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>私の日記</title>
	<link rel="stylesheet" href="style.css" type="text/css" charset="utf-8" />	
</head>
<div>
   	<ul class="topnav" id="myTopnav">
  	<li><a href="/">ホーム</a></li>
	</ul>
  </div>
<body>
<div id="wrapper">
	<div id="body">
		<div id="body-top">
			<div id="body-bot">
				<div id="header">
					<img src="matsu.jpg" width="332" height="453" alt="Pic 1" id="person" />
				<h1>小林・愛子の日記</h1>
				<h2>3月9日</h2>
				<p>松潤と会いたいな。あの男はとてもかっこいい。私は大好き！</p> 
				<h2>3月10日</h2>
				<p>今日は松潤と話した。やっぱりすごかっただ。でもね、私の髪はちょっとめちゃくちゃで、綺麗じゃなかった。悲しい。</p>
				<h2>3月11日</h2>
				<p>今日は松潤を相談せず、結婚した。どうやってできたというと、松潤とベ-ガスに行って、松潤は寝ている間にお寺に入って、結婚していた。</p>						
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>