<!DOCTYPE html>
<html> 
	<head>
		<link rel="stylesheet" href="/main.css">
		<script type="text/javascript" src="gen_validatorv4.js"></script>
		<style> 
			body {
         		background-image: url("/bg.jpg");
         		background-repeat: no-repeat;
         		background-position: right top;
         		margin-right: 200px;
			}
	</style>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
		<style>
			body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}.w3-sidenav a {padding:20px}
	</style>
    </head>
    <div>
   	<ul class="topnav" id="myTopnav">
  	<li><a href="/hotline">ホーム</a></li>
  	<li><a href="/quote">日刊　モチベーション</a></li>
  	<li><a href="/hotline">ホットライン</a></li>
  	<li><a href="#about">詳しい情報</a></li>
  	<li><a href="/registration">登録ページ</a></li>
  	<li><a href="/kawaii">可愛い</a></li>
    <li><a href="/diary">日記</a></li>
  	<li class="icon">
    <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
  	</li>
	</ul>
    </div>
    <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">

  <!-- First Photo Grid-->
  <h1>可愛い猫ちゃん</h1>

  <div class="w3-row-padding w3-padding-16 w3-center" id="pets">
    <div class="w3-quarter">
      <img src="/cat1.jpg" alt="Meow" style="width:100%">
    </div>
    <div class="w3-quarter">
      <img src="/cat2.jpg" alt="Meeow" style="width:100%">
    </div>
    <div class="w3-quarter">
      <img src="/cat3.jpg" alt="Meeeow" style="width:100%">
    </div>
    <div class="w3-quarter">
      <img src="/cat4.jpg" alt="Meeeeow" style="width:100%">
    </div>
    <div class="w3-quarter">
      <img src="/cat5.jpg" alt="Meeeeeow" style="width:100%">
    </div>
  </div>
  <!-- Second Photo Grid-->
  <h1>可愛い犬ちゃん</h1>
  <div class="w3-row-padding w3-padding-16 w3-center">
    <div class="w3-quarter">
      <img src="/dog1.jpg" alt="Woof" style="width:100%">
    </div>
    <div class="w3-quarter">
      <img src="/dog2.jpg" alt="Wooof" style="width:100%">
    </div>
    <div class="w3-quarter">
      <img src="/dog3.jpg" alt="Woooof" style="width:100%">
    </div>
    <div class="w3-quarter">
      <img src="/dog4.jpg" alt="Wooooof" style="width:100%">
    </div>
    <div class="w3-quarter">
      <img src="/dog5.jpg" alt="Woooooof" style="width:100%">
    </div>
  </div>
</html>