<!DOCTYPE html>
<html> 
	<head>
		<link rel="stylesheet" href="/main.css">
		<script type="text/javascript" src="gen_validatorv4.js"></script>
		<style> 
			body {
         		background-image: url("/bg.jpg");
         		background-repeat: no-repeat;
         		background-position: right top;
         		margin-right: 200px;
			}
		</style>
    </head>
    <div>
   	<ul class="topnav" id="myTopnav">
  	<li><a href="/">ホーム</a></li>
  	<li><a href="/quote">日刊　モチベーション</a></li>
  	<li><a href="/hotline">ホットライン</a></li>
  	<li><a href="#about">詳しい情報</a></li>
  	<li><a href="/registration">登録ページ</a></li>
  	<li><a href="/kawaii">可愛い</a></li>
  	<li><a href="/diary">日記</a></li>
  	<li class="icon">
    <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
  	</li>
	</ul>
    </div>
	<body class="container">
        <form action="/enter" method="POST">
          <input type="text" name="moti[quote]" value="自分の好きなモチベーションを入力してください">
          <input type="submit" value="Submit">
        </form>
    	<div>
    		<img src="/head.jpg" alt="Meow" style="width:100%"> 
        </div>
    	</div>
      <div>
      </div>
	</body>
</html>